<?xml version="1.0" encoding="UTF-8"?>
<robot name="vario700_sensorrig">
  <joint name="sensorrig_joint" type="fixed">
    <origin xyz="0 -1.35969 2.89559" rpy="0 0 1.5707964"/>
    <parent link="base_link"/>
    <child link="sensorrig"/>
  </joint>

  <joint name="joint_base_link-os_sensor" type="fixed">
    <origin xyz="0.0 0.26 2.98" rpy="0.0 -0.802851 -1.570796"/>
    <parent link="base_link"/>
    <child link="os_sensor"/>
  </joint>

  <joint name="os_sensor_to_os_lidar" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="os_sensor"/>
    <child link="os_lidar"/>
  </joint>

  <joint name="joint_os_sensor-camera/rear_left" type="fixed">
    <origin xyz="0.987213 -0.716739 -1.10573" rpy="0.338194 -2.49739 0.754168"/>
    <parent link="os_sensor"/>
    <child link="camera/rear_left"/>
  </joint>

  <joint name="joint_os_sensor-camera/rear_mid" type="fixed">
    <origin xyz="1.08013 0.0128897 -1.15956" rpy="0.188916 -3.11455 1.56053"/>
    <parent link="os_sensor"/>
    <child link="camera/rear_mid"/>
  </joint>

  <joint name="joint_os_sensor-camera/rear_right" type="fixed">
    <origin xyz="0.979937 0.739726 -1.09765" rpy="0.467141 2.53466 2.30594"/>
    <parent link="os_sensor"/>
    <child link="camera/rear_right"/>
  </joint>

  <joint name="joint_os_sensor-camera/side_left" type="fixed">
    <origin xyz="0.536304 -0.868147 -0.633051" rpy="0.791996 -2.31362 0.0204264"/>
    <parent link="os_sensor"/>
    <child link="camera/side_left"/>
  </joint>

  <joint name="joint_os_sensor-camera/side_right" type="fixed">
    <origin xyz="0.522142 0.877865 -0.631033" rpy="-2.27836 0.834522 0.0180667"/>
    <parent link="os_sensor"/>
    <child link="camera/side_right"/>
  </joint>

  <!-- ZED Camera Links and Joints -->
  <joint name="zed_camera_link_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="os_sensor"/>
    <child link="zed_camera_link"/>
  </joint>

  <joint name="zed_left_camera_frame_joint" type="fixed">
    <origin xyz="-0.0340776 -0.061614 0.132995" rpy="-1.20172 -0.0212631 1.58427"/>
    <parent link="zed_camera_link"/>
    <child link="zed_left_camera_frame"/>
  </joint>

  <joint name="zed_right_camera_frame_joint" type="fixed">
    <origin xyz="-0.0379495 0.0590217 0.136208" rpy="-1.20242 -0.0210382 1.58383"/>
    <parent link="zed_camera_link"/>
    <child link="zed_right_camera_frame"/>
  </joint>

  <joint name="zed_imu_link_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="zed_left_camera_frame"/>
    <child link="zed_imu_link"/>
  </joint>

  <joint name="os_sensor_imu_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0.031763 -0.00150674 3.10715"/>
    <parent link="os_sensor"/>
    <child link="os_sensor_imu"/>
  </joint>

  <joint name="back_left_joint" type="fixed">
    <origin xyz="-0.929712 -1.05215 0.79196" rpy="0 0 3.1415927"/>
    <parent link="base_link"/>
    <child link="back_left_wheel"/>
  </joint>

  <joint name="back_right_joint" type="fixed">
    <origin xyz="0.929712 -1.05215 0.79196" rpy="0 0 3.1415927"/>
    <parent link="base_link"/>
    <child link="back_right_wheel"/>
  </joint>

  <joint name="front_left_joint" type="fixed">
    <origin xyz="-0.934094 1.72967 0.581455" rpy="0 0 3.1415927"/>
    <parent link="base_link"/>
    <child link="front_left_wheel"/>
  </joint>

  <joint name="front_right_joint" type="fixed">
    <origin xyz="0.934094 1.72967 0.581455" rpy="0 0 3.1415927"/>
    <parent link="base_link"/>
    <child link="front_right_wheel"/>
  </joint>

  <link name="camera/rear_left"><visual><geometry><box size="0.05 0.05 0.05"/></geometry></visual></link>
  <link name="camera/rear_right"><visual><geometry><box size="0.05 0.05 0.05"/></geometry></visual></link>
  <link name="camera/rear_mid"><visual><geometry><box size="0.05 0.05 0.05"/></geometry></visual></link>
  <link name="camera/side_left"><visual><geometry><box size="0.05 0.05 0.05"/></geometry></visual></link>
  <link name="camera/side_right"><visual><geometry><box size="0.05 0.05 0.05"/></geometry></visual></link>

  <link name="zed_camera_link"><visual><geometry><box size="0.08 0.12 0.04"/></geometry></visual></link>
  <link name="zed_left_camera_frame"><visual><geometry><box size="0.04 0.04 0.02"/></geometry></visual></link>
  <link name="zed_right_camera_frame"><visual><geometry><box size="0.04 0.04 0.02"/></geometry></visual></link>
  <link name="zed_imu_link"><visual><geometry><box size="0.02 0.02 0.01"/></geometry></visual></link>

  <link name="os_sensor"><visual><geometry><cylinder radius="0.05" length="0.1"/></geometry></visual></link>
  <link name="os_lidar"/>
  <link name="os_sensor_imu"/>

  <link name="back_left_wheel">
    <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="1"/><inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/></inertial>
    <visual><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="package://vario700_sensorrig/meshes/back_left_wheel_visuals.obj" scale="0.1 0.1 0.1"/></geometry></visual>
    <collision><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="package://vario700_sensorrig/meshes/back_left_wheel_collisions.obj" scale="0.1 0.1 0.1"/></geometry></collision>
  </link>

  <link name="back_right_wheel">
    <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="1"/><inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/></inertial>
    <visual><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="package://vario700_sensorrig/meshes/back_right_wheel_visuals.obj" scale="0.1 0.1 0.1"/></geometry></visual>
    <collision><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="package://vario700_sensorrig/meshes/back_right_wheel_collisions.obj" scale="0.1 0.1 0.1"/></geometry></collision>
  </link>

  <link name="base_link">
    <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="10"/><inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/></inertial>
    <visual><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="package://vario700_sensorrig/meshes/base_link_visuals.obj" scale="0.1 0.1 0.1"/></geometry></visual>
    <collision><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="package://vario700_sensorrig/meshes/base_link_collisions.obj" scale="0.1 0.1 0.1"/></geometry></collision>
  </link>

  <link name="front_left_wheel">
    <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="1"/><inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/></inertial>
    <visual><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="package://vario700_sensorrig/meshes/front_left_wheel_visuals.obj" scale="0.1 0.1 0.1"/></geometry></visual>
    <collision><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="package://vario700_sensorrig/meshes/front_left_wheel_collisions.obj" scale="0.1 0.1 0.1"/></geometry></collision>
  </link>

  <link name="front_right_wheel">
    <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="1"/><inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/></inertial>
    <visual><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="package://vario700_sensorrig/meshes/front_right_wheel_visuals.obj" scale="0.1 0.1 0.1"/></geometry></visual>
    <collision><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="package://vario700_sensorrig/meshes/front_right_wheel_collisions.obj" scale="0.1 0.1 0.1"/></geometry></collision>
  </link>

  <link name="sensorrig">
    <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="2"/><inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1"/></inertial>
    <visual><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="package://vario700_sensorrig/meshes/sensorrig_visuals.obj" scale="0.001 0.001 0.001"/></geometry></visual>
    <collision><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="package://vario700_sensorrig/meshes/sensorrig_collisions.obj" scale="0.001 0.001 0.001"/></geometry></collision>
  </link>
</robot>
