<?xml version="1.0" encoding="UTF-8"?>
<robot name="vario700_sensorrig">
  <joint name="sensorrig_joint" type="fixed">
    <origin xyz="0 -1.35969 2.89559" rpy="0 0 1.5707964"/>
    <parent link="base_link"/>
    <child link="sensorrig"/>
  </joint>

  <!-- OS-Sensor Links and Joints -->
  <!-- Currently just manually measured by aligning OS-Sensor Pointcloud with Fendt 724 model -->
  <joint name="joint_base_link-os_sensor" type="fixed">
    <origin xyz="0.0 0.26 2.98" rpy="0.0 -0.802851 -1.570796"/>
    <parent link="base_link"/>
    <child link="os_sensor"/>
  </joint>

  <joint name="os_sensor_to_os_lidar" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="os_sensor"/>
    <child link="os_lidar"/>
  </joint>

  <!-- Derived from MSA-Calibration -->
  <joint name="os_sensor_imu_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0.031763 -0.00150674 3.10715"/>
    <parent link="os_sensor"/>
    <child link="os_sensor_imu"/>
  </joint>

  <!-- Camera Links and Joints: Derived from MSA-Calibration -->
  <joint name="joint_os_sensor-camera_rear_left" type="fixed">
    <origin xyz="0.987213 -0.716739 -1.10573" rpy="0.338194 -2.49739 0.754168"/>
    <parent link="os_sensor"/>
    <child link="camera_rear_left"/>
  </joint>

  <joint name="joint_os_sensor-blickfeld" type="fixed">
    <origin xyz="1.08013 0.0128897 -1.15956" rpy="0.188916 -3.11455 1.56053"/>
    <parent link="os_sensor"/>
    <child link="Root"/>
  </joint>

  <joint name="joint_os_sensor-camera_rear_mid" type="fixed">
    <origin xyz="1.08013 0.0128897 -1.15956" rpy="0.188916 -3.11455 1.56053"/>
    <parent link="os_sensor"/>
    <child link="camera_rear_mid"/>
  </joint>

  <joint name="joint_os_sensor-camera_rear_right" type="fixed">
    <origin xyz="0.979937 0.739726 -1.09765" rpy="0.467141 2.53466 2.30594"/>
    <parent link="os_sensor"/>
    <child link="camera_rear_right"/>
  </joint>

  <joint name="joint_os_sensor-camera_side_left" type="fixed">
    <origin xyz="0.536304 -0.868147 -0.633051" rpy="0.791996 -2.31362 0.0204264"/>
    <parent link="os_sensor"/>
    <child link="camera_side_left"/>
  </joint>

  <joint name="joint_os_sensor-camera_side_right" type="fixed">
    <origin xyz="0.522142 0.877865 -0.631033" rpy="-2.27836 0.834522 0.0180667"/>
    <parent link="os_sensor"/>
    <child link="camera_side_right"/>
  </joint>


  <!-- ZED Camera Links and Joints -->
  <!-- Currently just manually measured by aligning ZED-Pointcloud with Fendt 724 model -->
  <!-- Needs further refinement, especially in the distance-->
  <!-- 
  <joint name="zed_camera_link_joint" type="fixed">
    <origin xyz="0.08 0.26  3.05" rpy="0.0 0.427851 1.570796"/>
    <parent link="base_link"/>
    <child link="zed_camera_link"/>
  </joint>

  <joint name="zed_camera_link_joint" type="fixed">
    <parent link="base_link" />
    <child link="zed_camera_link" />
    <origin xyz="-0.331240 -0.015833 0.154115" rpy="-1.210257 -0.007345 1.595239" />
  </joint>
  -->
  <joint name="zed_camera_link_joint" type="fixed">
    <origin xyz="0.08 0.26  3.05" rpy="0.0 0.427851 1.570796"/>
    <parent link="base_link"/>
    <child link="zed_camera_link"/>
  </joint>


  <joint name="zed_left_camera_joint" type="fixed">
    <origin xyz="0 0.06 0" rpy="0 0 0"/>
    <parent link="zed_camera_link"/>
    <child link="zed_left_camera_frame"/>
  </joint>

  <joint name="zed_right_camera_joint" type="fixed">
    <origin xyz="0 -0.06 0" rpy="0 0 0"/>
    <parent link="zed_camera_link"/>
    <child link="zed_right_camera_frame"/>
  </joint>

    
  <joint name="zed_left_camera_optical_frame_joint" type="fixed">
    <origin xyz="0 0 0" rpy="-1.57079632679 0 -1.57079632679"/>
    <parent link="zed_left_camera_frame"/>
    <child link="zed_left_camera_optical_frame"/>
  </joint>

  <joint name="zed_imu_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="zed_camera_link"/>
    <child link="zed_imu_link"/>
  </joint>


  <joint name="back_left_joint" type="fixed">
    <origin xyz="-0.929712 -1.05215 0.79196" rpy="0 0 3.1415927"/>
    <parent link="base_link"/>
    <child link="back_left_wheel"/>
  </joint>

  <joint name="back_right_joint" type="fixed">
    <origin xyz="0.929712 -1.05215 0.79196" rpy="0 0 3.1415927"/>
    <parent link="base_link"/>
    <child link="back_right_wheel"/>
  </joint>

  <joint name="front_left_joint" type="fixed">
    <origin xyz="-0.934094 1.72967 0.581455" rpy="0 0 3.1415927"/>
    <parent link="base_link"/>
    <child link="front_left_wheel"/>
  </joint>

  <joint name="front_right_joint" type="fixed">
    <origin xyz="0.934094 1.72967 0.581455" rpy="0 0 3.1415927"/>
    <parent link="base_link"/>
    <child link="front_right_wheel"/>
  </joint>

  <!-- Visual and Collision Links -->
  <!-- Added geometry to make it easier to visualize in Rviz -->
  <link name="camera_rear_left"><visual><geometry><box size="0.05 0.05 0.05"/></geometry></visual></link>
  <link name="camera_rear_right"><visual><geometry><box size="0.05 0.05 0.05"/></geometry></visual></link>
  <link name="camera_rear_mid"><visual><geometry><box size="0.05 0.05 0.05"/></geometry></visual></link>
  <link name="camera_side_left"><visual><geometry><box size="0.05 0.05 0.05"/></geometry></visual></link>
  <link name="camera_side_right"><visual><geometry><box size="0.05 0.05 0.05"/></geometry></visual></link>

  <link name="Root"><visual><geometry><box size="0.05 0.05 0.05"/></geometry></visual></link>

  <link name="zed_camera_link"><visual><geometry><box size="0.08 0.12 0.04"/></geometry></visual></link>
  <link name="zed_left_camera_frame"><visual><geometry><box size="0.04 0.04 0.02"/></geometry></visual></link>
  <link name="zed_right_camera_frame"><visual><geometry><box size="0.04 0.04 0.02"/></geometry></visual></link>
  <link name="zed_imu_link"><visual><geometry><box size="0.02 0.02 0.01"/></geometry></visual></link>
  <link name="zed_left_camera_optical_frame"></link>

  <link name="os_sensor"><visual><geometry><cylinder radius="0.05" length="0.1"/></geometry></visual></link>
  <link name="os_lidar"/>
  <link name="os_sensor_imu"/>


  <!-- Wheel Links and Joints -->
  <!-- Geometry is from Fendt 724 model Farming Simulator 22 -->
  <!-- Needs further refinement, especially in the mass and inertia -->
  <link name="back_left_wheel">
    <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="1"/><inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/></inertial>
    <visual><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="package://vario700_sensorrig/meshes/back_left_wheel_visuals.obj" scale="0.1 0.1 0.1"/></geometry></visual>
    <collision><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="package://vario700_sensorrig/meshes/back_left_wheel_collisions.obj" scale="0.1 0.1 0.1"/></geometry></collision>
  </link>

  <link name="back_right_wheel">
    <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="1"/><inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/></inertial>
    <visual><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="package://vario700_sensorrig/meshes/back_right_wheel_visuals.obj" scale="0.1 0.1 0.1"/></geometry></visual>
    <collision><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="package://vario700_sensorrig/meshes/back_right_wheel_collisions.obj" scale="0.1 0.1 0.1"/></geometry></collision>
  </link>

  <link name="base_link">
    <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="10"/><inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/></inertial>
    <visual><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="package://vario700_sensorrig/meshes/base_link_visuals.obj" scale="0.1 0.1 0.1"/></geometry></visual>
    <collision><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="package://vario700_sensorrig/meshes/base_link_collisions.obj" scale="0.1 0.1 0.1"/></geometry></collision>
  </link>

  <link name="front_left_wheel">
    <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="1"/><inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/></inertial>
    <visual><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="package://vario700_sensorrig/meshes/front_left_wheel_visuals.obj" scale="0.1 0.1 0.1"/></geometry></visual>
    <collision><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="package://vario700_sensorrig/meshes/front_left_wheel_collisions.obj" scale="0.1 0.1 0.1"/></geometry></collision>
  </link>

  <link name="front_right_wheel">
    <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="1"/><inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/></inertial>
    <visual><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="package://vario700_sensorrig/meshes/front_right_wheel_visuals.obj" scale="0.1 0.1 0.1"/></geometry></visual>
    <collision><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="package://vario700_sensorrig/meshes/front_right_wheel_collisions.obj" scale="0.1 0.1 0.1"/></geometry></collision>
  </link>

  <!-- Sensorrig Links and Joints -->
  <!-- Handmade CAD Model -->
  <link name="sensorrig">
    <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="2"/><inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1"/></inertial>
    <visual><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="package://vario700_sensorrig/meshes/sensorrig_visuals.obj" scale="0.001 0.001 0.001"/></geometry></visual>
    <collision><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="package://vario700_sensorrig/meshes/sensorrig_collisions.obj" scale="0.001 0.001 0.001"/></geometry></collision>
  </link>
</robot>
